/* headerの設定 */
header {
  width: 100%;
  padding: 15px 0;
  margin: 0 auto;
  text-align: center;
  background-color: #FFAD90;
}
header .headline {
  font-size: 50px;
}
.nav-list {
  text-align: center;
  padding: 10px 0;
  margin: 0 auto;
}
.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
}
/*footerの設定  */
footer {
  width: 100%;
  padding: 15px 0;
  margin: 0 auto;
  text-align: center;
  background-color: #FFAD90;
}
/*bodyの設定  */
body {
  background-color: #DDFFFF;
}
/* imgの設定 */
img {
  display: block;
  margin: 0 auto;
  width: 200px;
}
/*ボタンの設定  */
.btn-container {
  text-align: center;
}
button {
  width: 50%;
  height: 50px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  background-color: #FFFF88;
}
button:hover {
 opacity: 0.7;
}
.hidden {
  display: none;
}

#btn2-text{
  margin: 16px 0;
  font-size: 14px;
}
/* h2の設定 */
h2 {
  text-align: center;
}
/*吹き出しの設定  */
.balloon5 {
  width: 100%;
  margin: 1.5em 0;
  overflow: hidden;
}
.balloon5 .icon {
  float: left;
  margin-right: -90px;
  width: 80px;
}
.balloon5 .icon img{
  width: 100%;
  height: auto;
  border: solid 3px #d7edfe;
  border-radius: 50px;
}
.balloon5 .chatting {
  width: 100%;
}
.says {
  display: inline-block;
  position: relative;
  margin: 5px 0 0 105px;
  padding: 17px 13px;
  border-radius: 12px;
  background: #d7ebfe;
}
.says:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 18px;
  left: -24px;
  border: 12px solid transparent;
  border-right: 12px solid #d7edfe;
}
.says p {
  margin: 0;
  padding: 0;
}
